*.dSYM
*~
.*.swp
*.a
*.dylib
*.o
*.so
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
componentinfo.dtd
config.*
configure
configure.lineno
install-sh
make.config
missing
starconf.status
/unix/tclConfig.sh
/unix/cat
/unix/dltest.marker
/unix/longfile
/unix/output
/unix/pipe
/unix/pkgs
/unix/script
/unix/stdout
/unix/tclsh
/unix/tcltest
/unix/tclUuid.h
/unix/test1
/unix/test2
/unix/test3
/unix/tcl.pc
/configure-output.log
/configure-output.log.err
/make.log
/make.log.err
