*.dSYM
*~
*.a
*.dylib
*.o
*.so
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
componentinfo.dtd
config.*
configure
configure.lineno
install-sh
make.config
missing
starconf.status
tclConfig.sh
unix/cat
unix/dltest.marker
unix/longfile
unix/output
unix/pipe
unix/script
unix/stdout
unix/tclsh
unix/tcltest
unix/test1
unix/test2
unix/test3
configure-output.log
configure-output.log.err
make.log
make.log.err
